{% extends 'base.html' %} {% block content %}

<section class="section">
  <div class="container">
    <div class="block">
      <div class="card">
        <div class="card-header">
          <p class="card-header-title">{{ listings_file }}</p>
        </div>
        <div class="card-content">
          <div class="container">
            <div class="title columns">
              <div class="column is-narrow">
                <p>{{ listing['address'] }}</p>
              </div>
              <div class="column">
                <p class="{{ listing['minutes class'] }}">
                  {{ listing['pretty minutes'] }} Minutes to Work
                </p>
              </div>
            </div>

            <p class="subtitle">{{ index }} of {{ total }}</p>
          </div>
          <div class="content">
            <div class="block">
              <figure class="image">
                <img
                  style="max-height: 500px; width: auto; height: auto"
                  src="https://bulma.io/images/placeholders/1280x960.png"
                  alt="Placeholder image"
                />
              </figure>
            </div>
            <div class="block">
              <a
                href="{{ listing['url'] }}"
                target="_blank"
                class="button is-link is-size-5 is-fullwidth has-text-weight-bold"
                >See on Realtor.com</a
              >
            </div>
            <div class="block">
              <div class="columns">
                <div class="column"><b>Price:</b></div>
                <div class="column">${{ listing['pretty price'] }}</div>
                <div class="column"><b>Beds:</b></div>
                <div class="column">{{ listing['beds'] }}</div>
              </div>
              <div class="columns">
                <div class="column"><b>List Date:</b></div>
                <div class="column">{{ listing['list date'] }}</div>
                <div class="column"><b>Baths:</b></div>
                <div class="column">{{ listing['baths'] }}</div>
              </div>
              <hr />
              <div class="columns">
                <div class="column"><b>Interior sqft:</b></div>
                <div class="column">{{ listing['pretty sqft'] }}</div>
                <div class="column"><b>Price per sqft:</b></div>
                <div class="column">${{ listing['price per sqft'] }}</div>
                <div class="column"><b>Acres:</b></div>
                <div class="column">{{ listing['pretty acres'] }}</div>
              </div>
              <hr />
              <div class="columns">
                <div class="column is-one-third"><b>Flags:</b></div>
                <div class="column">{{ listing['flags'] }}</div>
              </div>
            </div>
          </div>
          {# TODO #}
        </div>
        <div class="card-footer">
          {# TODO IMPLEMENT LOGIC #}
          <a
            href="#"
            class="card-footer-item is-size-3 has-text-weight-bold has-text-white has-background-danger"
            >😡 Hate</a
          >
          <a
            href="#"
            class="card-footer-item is-size-3 has-text-weight-bold has-text-white has-background-info"
            >😐 Ok</a
          >
          <a
            href="#"
            class="card-footer-item is-size-3 has-text-weight-bold has-text-white has-background-success"
            >😍 Love</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
