{% extends 'base.html' %} {% block content %}

<link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.1/css/dataTables.bulma.min.css"
    />


<section class="section">
  <div class="container">
    {% if spotlight_data is defined %} {# TODO #}
    <div class="block">
      <table id="ratings" class="table is-striped" style="width:100%">
        <thead>
          <tr>
            <th>id</th>
            <th>list date</th>
            <th>flags</th>
            <th>home type</th>
            <th>year built</th>
            <th>price (thousands)</th>
            <th>hoa fee</th>
            <th>beds</th>
            <th>baths</th>
            <th>sqft</th>
            <th>acres</th>
            <th>address</th>
            <th>city</th>
            <th>state</th>
            <th>zip</th>
            <th>Minute to Work</th>
          </tr>
        </thead>
        <tbody>
              
          {% for row in spotlight_data %}
          <tr>
            <td><a href="{{ row['url'] }}">{{ row['id'] }}</a></td>
            <td>{{ row['list date'] }}</td>
            <td>{{ row['flags'] }}</td>
            <td>{{ row['home type'] }}</td>
            <td>{{ row['year built'] }}</td>
            <td>{{ row['price'] }}</td>
            <td>{{ row['hoa fee'] }}</td>
            <td>{{ row['beds'] }}</td>
            <td>{{ row['baths'] }}</td>
            <td>{{ row['interior sqft'] }}</td>
            <td>{{ row['acres'] }}</td>
            <td>{{ row['addresss line'] }}</td>
            <td>{{ row['city'] }}</td>
            <td>{{ row['state'] }}</td>
            <td>{{ row['zipcode'] }}</td>
            <td>{{ '%.1f' % row['Minutes to Work']|round(1) }}</td>
            
          </tr>
          {% endfor %}
          
        </tbody>
        <tfoot>
            <tr>
              <th>id</th>
              <th>list date</th>
              <th>flags</th>
              <th>home type</th>
              <th>year built</th>
              <th>price (thousands)</th>
              <th>hoa fee</th>
              <th>beds</th>
              <th>baths</th>
              <th>sqft</th>
              <th>acres</th>
              <th>address</th>
              <th>city</th>
              <th>state</th>
              <th>zip</th>
              <th>Minute to Work</th>
            </tr>
        </tfoot>
      </table>
    </div>
    {% else %}
    <div class="block">
      <h1 class="title">Spotlight has not listing set</h1>
    </div>
    {% endif %}
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bulma.min.js"></script>

<script>
  $(document).ready(function () {
    $('#ratings').DataTable();
  });
</script>

{% endblock %}
