{% extends 'base.html' %} {% block content %}

<link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.1/css/dataTables.bulma.min.css"
    />


<section class="section">
  <div class="container">
    {% if spotlight_data is defined %} {# TODO #}
    <div class="block">
      <table id="ratings" class="table is-striped" style="width:100%">
        <thead>
          <tr>
            <th>User</th>
            <th>Listing File</th>
            <th>Hated</th>
            <th>Ok</th>
            <th>Loved</th>
            <th>Total</th>
            <th>Listings</th>
            <th>View</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>
          
          {% for usr, usr_ratings in stats.items() %}
          {% for listing, listing_ratings in usr_ratings.items() %}
          
          <tr>
            <td>{{ usr }}</td>
            <td>{{ listing }}</td>
            <td>{{ listing_ratings['Hate'] }}</td>
            <td>{{ listing_ratings['Ok'] }}</td>
            <td>{{ listing_ratings['Love'] }}</td>
            <td>{{ listing_ratings['Total'] }}</td>
            <td>{{ listing_ratings['Listings'] }}</td>
            <td><a href="{{ url_for('listing_view', usr_feedback=usr, listings_file=listing) }}">View</a></td>
            <td><a href="{{ url_for('download_ratings', usr=usr, listing=listing) }}">Download</a></td>
            </tr>
            
            {% endfor %}
          {% endfor %}

        </tbody>
        <tfoot>
            <tr>
              <th>User</th>
              <th>Listing File</th>
              <th>Hated</th>
              <th>Ok</th>
              <th>Loved</th>
              <th>Total</th>
              <th>Listings</th>
              <th>View</th>
              <th>Download</th>
            </tr>
        </tfoot>
      </table>
    </div>
    {% else %}
    <div class="block">
      <h1 class="title">Spotlight has not listing set</h1>
    </div>
    {% endif %}
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bulma.min.js"></script>

<script>
  $(document).ready(function () {
    $('#ratings').DataTable();
  });
</script>

{% endblock %}
